@import "../styles/vars.css";

.desktop {
    padding: 2rem 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  min-height:80vh;
  justify-content: center;
  align-items:flex-start;
  align-content: stretch;
}
