@import "../styles/vars.css";

.desktop {
    padding: 2rem 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  min-height:80vh;
  justify-content: center;
  align-items:flex-start;
  align-content: stretch;
}

.upload {
  width:100%;
  height: 60vh;
  border: 5px solid var(--grey);
  border-radius: 2rem;
  background-color: var(--almostwhite);
  display: grid;
  place-items: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--dark);
  box-shadow: var(--shadow);
}