@import "../styles/vars.css";

.overlay{
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: var(--mist);
  z-index: 4;
  filter: blur(3px);
  background-image: url("../images/noise.svg");
  display: none;
}

.nav{
  width: 40vw;
  height: 100%;
position: absolute;
z-index: 5;
padding: 1rem;
right: 0;
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    text-align:right;
    box-shadow: var(--shadow);
}

.menu{
  /* display: none; */
  color:aqua;
}

.nav a{
    text-decoration: none;
    color: white;
}

/* .nav ul{
    text-align: left;
} */
.nav li{
    line-height: 1.5;
}

.menuToggle {
width: 0;

}

.menuToggle:after {
  background-image: url("../images/bars.svg");
  background-position: right center;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 1.5rem;
  vertical-align: top;
  width: 2em;
}

.menuItems{
margin-top: 1rem;
text-align: left;
}

@media screen and (max-width: 736px) {
  .menuToggle {
    padding: 0 1.5em;
  }

  .menuToggle span {
    display: none;
  }
}

.header nav > ul > li:first-child {
  margin-left: 0;
}

.header.alt {
  background: transparent;
}

.header.alt h1 {
  pointer-events: none;
  opacity: 0;
}
