@import "../styles/vars.css";

.head {
  position:sticky;
  left:0;
  top:0;
  z-index: 6;

  width: 100%;
  background-color: var(--accent);
  text-align: left;
  color: var(--white);
  padding: 1rem;
  font-weight: bold;

  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: var(--shadow);
}

.icon{
 /* font-size: 2rem; */
 width: 1.2rem;
 height: 1.2rem;
 opacity: 1;
 cursor: pointer;
 transition: opacity 0.5s;
}

.icon:active{
  opacity: 0;
}

.sidebar{
  position:sticky;
  left:0;
  top:3.2rem;
  z-index: 6;
  width: 100%;
  background-color: transparent;
  height: 100%;
  color: var(--white);
  text-align: left;
}

.undisplay{
  visibility: hidden;
}

.sidebar .menu{
  width: 50%;
  background-color: var(--accent);
  height: 100%;
  box-shadow: var(--shadow);
  padding: 1rem;

}

.menuItems li{
  padding: 0.3rem 0;
}